<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= process.env.BRAND_NAME %> Activation Email</title>
    <style>
        .email-wrapper{
            padding: 24%;
        }
        .email-header{
            padding: 24px;
            text-align: center;
            background-color: #2401e9cb;
            color: #ffffff;
        }
        .email-body{
            padding: 24px;
            background-color: #ffffff;
        }
        .email-footer{
            padding: 24px;
            background-color: #f6f6f6;
        }
        .button{
            display: inline-block;
            background-color: #2401e9e7;
            color: #ffffff;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            text-decoration: none;
            padding: 12px 24px;
            border-radius: 4px;
        }
    </style>
</head>
<body>
    <div class="email-wrapper">
        <div class="email-header">
            <h1>Welcome to <%= process.env.BRAND_NAME %></h1>
        </div>
        <div class="email-body">
            <p>Hello <%= user.name %>,</p>
            <p>Thank you for registering with <%= process.env.BRAND_NAME %>, To activate your account, please use the following activation code</p>
            <p><%= activationCode %></p>
            <p>Please enter this on the activation page within the next 5 minutes.</p>
            <p>If you did not register for <%= process.env.BRAND_NAME %>, Please ignore this email </p>
        </div>
        <div class="email-footer">
            <p>if you have any questions, please don't hesitate to contact us at 
                <a href="mailto:<%= process.env.SUPPORT_EMAIL %>"><%= process.env.SUPPORT_EMAIL %> </a></p>
        </div>
    </div>
</body>
</html>